<div class="container">
  <div class="field">
    <div class="control">
      <input class="input is-primary" #studentName placeholder="Student Name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-primary" #custodianName placeholder="Custodian Name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-primary" #className placeholder="Class Name">
    </div>
  </div>
<a (click)="onAddSelected()" class="button is-primary">Add</a>
</div>



