<nav class="navbar is-danger">
  <div class="navbar-brand">
    <div class="navbar-item">
      CrudApp
    </div>
  </div>

  <div  class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        List
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Add
      </a>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
  <app-add></app-add>
</div>

<div>
  <button (click)="onGetItems()" class="button is-warning">Add</button>
    <app-list></app-list>
    <app-update></app-update>
  <button (click)="deleteAll()" class="button is-warning">Delete All</button>
</div>
