<div class="container">
<div class="field">
  <div class="control">
    <input class="input is-danger" #newStudent placeholder="New Student">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-danger" #newCustodian placeholder="New Custodian">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-danger" #newClass placeholder="New Class">
  </div>
</div>
  <div>
    <a class="button is-danger" (click)="onUpdateSelected()">Update</a>
  </div>
</div>
